

*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
TPV_Web/wwwroot/lib/*
TPV_Web/wwwroot/_references.js
/.vs/*
*/project.lock.json
